---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {{ post.content | strip_html | truncatewords: 50 }}
        </p>
        <small class="read-time">
            {% assign words = post.content | number_of_words %}
            {% if words < 360 %}
            1 min read
            {% else %}
            {{ words | divided_by:180 }} mins read
            {% endif %}
        </small>
        <a class="read-on" href="{{ post.url | prepend: site.baseurl }}">Read On <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
